@model ViewModels._BaseViewModel
<header class="header_wrap fixed-top dd_dark_skin transparent_header bg-purple">
    <div class="light_skin main_menu_uppercase">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <img class="logo_light" src="/assets/images/logo-sampet-light.png" alt="logo" />
                    <img class="logo_dark" src="/assets/images/logo-sampet.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a class="nav-link nav_item" href="/">صفحه اصلی</a></li>


	                    <li class="dropdown">
		                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">محصولات</a>
		                    <div class="dropdown-menu">
			                    <ul>
				                    @foreach (var product in Model.MenuProducts)
														{
																<li><a class="dropdown-item nav-link nav_item" href="/product/@product.Code">@product.Title</a></li>
														}
			                    </ul>
		                    </div>
	                    </li>
                        <li><a class="nav-link nav_item" target="_blank" href="/Uploads/catalog.pdf">دانلود کاتالوگ</a></li>
                        
	                    <li><a class="nav-link nav_item" href="/about">درباره ما</a></li>

                        <li><a class="nav-link nav_item" href="/contact">تماس با ما</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    @*<li>
                        <a href="javascript:void(0);" class="nav-link search_trigger"><i class="linearicons-magnifier"></i></a>
                        <div class="search_wrap">
                            <span class="close-search"><i class="ion-ios-close-empty"></i></span>
                            <form>
                                <input type="text" placeholder="Search" class="form-control" id="search_input">
                                <button type="submit" class="search_icon"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div><div class="search_overlay"></div><div class="search_overlay"></div>
                    </li>*@
                    <li class="dropdown cart_dropdown">
                        <a class="nav-link cart_trigger" href="/basket"><i class="linearicons-cart"></i></a>
                        @*<div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                <li>
                                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                                    <a href="#"><img src="/images/basket1.jpg" alt="cart_thumb1">SAMPET</a>
                                    <span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">تومان</span></span>750،000</span>
                                </li>
                                <li>
                                    <a href="#" class="item_remove"><i class="ion-close"></i></a>
                                    <a href="#"><img src="/images/basket2.jpg" alt="cart_thumb2">PICKY CAT</a>
                                    <span class="cart_quantity"> 1 x <span class="cart_amount"> <span class="price_symbole">تومان</span></span>600،000</span>
                                </li>
                            </ul>
                            <div class="cart_footer">
                                <p class="cart_total"><strong>جمع کل:</strong> <span class="cart_price"> <span class="price_symbole">تومان</span></span>1،350،000</p>
                                <p class="cart_buttons"><a href="#" class="btn btn-fill-line view-cart">بستن سبد خرید</a><a href="#" class="btn btn-fill-out checkout">سبد خرید</a></p>
                            </div>
                        </div>*@
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>