@model ViewModels.LoginViewModel
@{
		ViewBag.Title = "ورود";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

@section headSection{
	<script src="~/Scripts/FrontEnd/custom-login.js"></script>
}


<div class="breadcrumb-area bg--white-6 pt--60 pb--70 pt-lg--40 pb-lg--50 pt-md--30 pb-md--40">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="page-title">ورود</h1>
				<ul class="breadcrumb justify-content-center">
					<li><a href="/">خانه</a></li>
					<li class="current"><span>ورود</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>





<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-10 offset-sm-1 col-xs-12  offset-md-3 login">
			<div class="login-header">
				ورود به وب سایت
			</div>
			<div class="login-form" id="login-form">

				<div class="alert alert-info" id="error-box-login"></div>
				<div class="form-group">
					<label for="Username">شماره موبایل</label>

					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-mobile"></i>
							</div>
						</div>

						<input type="text" readonly
									 onfocus="this.removeAttribute('readonly');" class="form-control" id="txtCellNum" name="txtCellNum" placeholder="شماره موبایل">
					</div>
				</div>


				<button type="button" id="btn-login" onclick="loginUser();" class="btn btn-savadimo-login">ورود</button>
				<div id="loading-box" class="loading-sec">
					<img src="~/img/loading-payment.gif" />
				</div>
			</div>
			<div class="login-form" id="register-form">
				<div class="alert alert-info" id="error-box-register"></div>
				<div class="alert alert-primary">اطلاعات شما تا کنون در وب سایت ثبت نشده است. برای ثبت نام، نام و نام خانوادگی خود را وارد نمایید.</div>
				<div class="alert alert-info" id="error-box-login"></div>
				<div class="form-group">
					<label for="fullName">نام و نام خانوادگی</label>

					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-user"></i>
							</div>
						</div>

						<input type="text" readonly
									 onfocus="this.removeAttribute('readonly');" class="form-control" id="fullName" name="fullName" placeholder="نام و نام خانوادگی">
					</div>
				</div>

				<button type="button" id="btn-register" onclick="CompleteRegisterFrom();" class="btn btn-savadimo-login">ثبت نام</button>
				<div id="register-loading-box" class="loading-sec">
					<img src="~/img/loading-payment.gif" />
				</div>
			</div>
			<div class="login-form" id="otp-form">

				<div class="alert alert-info" id="error-box-otp"></div>
				<div class="form-group">
					<label for="txtCode">کد فعال سازی</label>

					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-mobile"></i>
							</div>
						</div>

						<input type="password" readonly
									 onfocus="this.removeAttribute('readonly');" class="form-control" id="txtCode" name="txtCode" placeholder="کد فعال سازی">
					</div>
				</div>


				<button type="button" id="btn-checkOtp" onclick="checkUserOtp();" class="btn btn-savadimo-login">تایید شماره موبایل</button>
				<div id="activation-loading-box" class="loading-sec">
					<img src="~/img/loading-payment.gif" />
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-10 offset-sm-1 col-xs-12  offset-md-3 login-footer">
			جهت دسترسی به پنل کاربری خود باید وارد وب سایت شوید.

		</div>
	</div>
</div>
