
<section class="vbox">
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">

                    <li id="infoLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت اطلاعات پایه</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/ShopConfigurations">
                                    <i class="fa fa-angle-left"></i><span>تنظیمات کلی فروشگاه</span>
                                </a>
                            </li>
                            <li>
                                <a href="/AgeRanges">
                                    <i class="fa fa-angle-left"></i><span>مدیریت بازه سنی</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Colors">
                                    <i class="fa fa-angle-left"></i><span>مدیریت رنگ ها</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Brands">
                                    <i class="fa fa-angle-left"></i><span>مدیریت برندها</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li id="productLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت محصولات</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/ProductGroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه محصولات</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Products">
                                    <i class="fa fa-angle-left"></i><span>مدیریت محصولات</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ProductComments">
                                    <i class="fa fa-angle-left"></i><span>مدیریت نظرات محصولات</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="menuitem" id="sliderLi"><a href="/Sliders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت تصاویر اسلایدر</span></a></li>
                    @*<li id="textLi" class="menuitem"><a href="/TextTypes"><i class="fa fa-pencil icon"><b class="bg-info"></b></i><span>مدیریت گروه متن ها</span></a></li>*@



                    <li id="blogLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت نوشته های وبلاگ</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/bloggroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه نوشته ها</span>
                                </a>
                            </li>
                            <li>
                                <a href="/blogs">
                                    <i class="fa fa-angle-left"></i><span>مدیریت نوشته ها</span>
                                </a>
                            </li>
                            <li>
                                <a href="/BlogComments">
                                    <i class="fa fa-angle-left"></i><span>مدیریت نظرات نوشته ها</span>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li id="textLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت متن ها</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/Texts/index/362604fc-bc3f-453d-a646-cc7211478028">
                                    <i class="fa fa-angle-left"></i><span>متن صفحه درباره ما</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Texts/index/f105b544-1606-40b2-8bac-600eb9de6fd4">
                                    <i class="fa fa-angle-left"></i><span>متن چرا صم پت صفحه درباره ما</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Texts/index/b4b9122e-92cd-4003-9fe1-39f35f8eb31f">
                                    <i class="fa fa-angle-left"></i><span>متن تماس با ما</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Texts/index/769f922d-38f7-41e7-be06-c208e8ad2bbc">
                                    <i class="fa fa-angle-left"></i><span>متن سایر فعالیت ها صفحه اصلی</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Texts/index/c5bb47e8-a7a1-40cc-a0cb-07afeec2e8e4">
                                    <i class="fa fa-angle-left"></i><span>متن زیر مجموعه سایر فعالیت ها صفحه اصلی</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Texts/index/b2f73558-d336-4e26-8ee5-e54624841745">
                                    <i class="fa fa-angle-left"></i><span>متن اطلاعات تماس فوتر</span>
                                </a>
                            </li>
                            @*<li>
                                    <a href="/Texts/index/6e1bde23-331c-4a92-a747-2bdaed6037de">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن زیر اسلایدر صفحه اصلی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Texts/index/ad928ea6-cedb-4ca4-a795-af057461ae5f">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن اسلایدر وسط صفحه</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Texts/index/94e71de5-10b4-4898-8df0-26ef4a4dab34">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن بنر وسط صفحه اصلی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Texts/index/267c30d5-51a6-493b-9f63-2d7ba5af2364">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن درباره ما فوتر</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Texts/index/7adb6077-ebc9-4b50-9490-e67bb96df11d">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن اطلاعات تماس </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Texts/index/efd90241-cbf0-4886-a71e-fdc8479669ed">
                                        <i class="fa fa-angle-left"></i><span>متن صفحه درباره ما</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/Texts/index/f3ecfa4b-98db-47c9-832a-65738f95c869">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن صفحه پشتیبانی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Texts/index/5287f909-0387-4a4e-af0f-e6da0d69c996">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن صفحه قوانین و مقررات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Texts/index/38b046fa-3e25-4156-a4a4-1f0395329a64">
                                        <i class="fa fa-angle-left"></i><span>مدیریت متن صفحه شرکای تجاری</span>
                                    </a>
                                </li>*@
                        </ul>
                    </li>

                    <li class="menuitem" id="discountLi"><a href="/DiscountCodes"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کدهای تخفیف</span></a></li>
                    <li class="menuitem" id="userLi"><a href="/users"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span></a></li>

                </ul>
            </nav>
        </div>
    </section>
</section>